
        <h3>Reach Me</h3>
        <ul>
          <li><i class="icon-envelope"></i> Contact: <a href="mailto:aduncaninmotion@gmail.com">aduncaninmotion@gmail.com</a></li>
          <li><i class="icon-home"></i> Address: 3 Davis Ct., Westfield NJ 07090</li>
          <li><i class="icon-user"></i> LinkedIn: <a href="http://www.linkedin.com/in/adamcduncan">Me</a></li>
          <li><br></li>
          <li><p><a href="http://feeds.feedburner.com/FromGuinnessToGARCH"><img src="http://feeds.feedburner.com/~fc/FromGuinnessToGARCH?bg=99CCFF&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a></p></li>
        </ul>

        <h3>Blog Roll</h3>
        <ul>
        	<li><a href="http://kieranhealy.org//blog/archives/2013/06/09/using-metadata-to-find-paul-revere/">Using Meta Data to Find Paul Revere</a></li>
        	<li><a href="http://www.rinfinance.com/agenda/2013/talk/JiahanLi.pdf">R in Finance 2013: Predicting Exchange Rates Out of Sample: Can Economic Fundamentals Beat the Random Walk?</a></li>
        	<li><a href="http://www.rinfinance.com/agenda/2012/workshop/Carl+Peterson.pdf">R in Finance 2013: Constructing Strategic Hedge Fund Portfolios</a></li>
        	<li><a href="http://www.rinfinance.com/agenda/2013/workshop/Humme+Peterson.pdf">R in Finance 2013: Using Quantstrat to Evaluate Intra-Day Trading Strategies</a></li>
        	<li><a href="http://timelyportfolio.blogspot.com/2013/06/rickshaw-d3js-from-r-with-rcharts.html">Timely Portfolio: Rickshaw d3.js from R with rCharts</a></li>
        </ul>