<div class="sidebar">
        <h3>Reach Me:</h3>
        <ul>
          <li><i class="icon-envelope"></i> Contact: <a href="mailto:aduncaninmotion@gmail.com">aduncaninmotion@gmail.com</a></li>
          <li><i class="icon-home"></i> Address: 3 Davis Ct., Westfield NJ 07090</li>
          <li><i class="icon-user"></i> LinkedIn: <a href="http://www.linkedin.com/in/adamcduncan">Me</a></li>
          <li><br></li>
          <li><p><a href="http://feeds.feedburner.com/FromGuinnessToGARCH"><img src="http://feeds.feedburner.com/~fc/FromGuinnessToGARCH?bg=99CCFF&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a></p></li>
        </ul>
    </div>